.navbar{
    height: auto;
    background-color: #eeeeee;
}
.logo{
    font-family: "Allura", cursive;
    font-weight: bold;
    font-style: normal;  
    font-size: 23px;   
    color: rgba(0, 0, 0, 0.801);
    padding-top: 5px;
}
.nav-link{
    font-size: 18px;
    color: grey;
    font-weight: bold;
}
.nav-link:hover{
    font-weight: bold;
}
.navbar-brand{
    font-weight: bolder;
    font-size: 25px;
    padding: 0px;
}
.navbar-brand img{
    margin-bottom: 3px;
    padding-right: 5px;
}
.navbar-nav{
    margin-left: auto;
}
.dropdown:hover .dropdown-menu{
    display: grid;
}
.dropdown-menu{
    box-shadow: 2px 2px 20px black;
}
.dropdown-item:hover{
    font-weight: bold;
}
.img-responsive{
    width: 100%;
    padding: 0px 0px;
    transition: all 0.6s ease-in-out;
    padding: 10px 10px;
}
.img-responsive:hover{
    transform: scale(1.07);
}
.col-md-6{
    padding: 0px 0px 0px;
    overflow: hidden;
}
.div-new{
    text-align: center;
}
.new{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
}
.product{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}
.f{
    height: 85%;
    width: 100%;
}
.f img{
    height: 100%;
}
.s{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.col-lg-3{
    margin-bottom: 20px;
}
.col-lg-3 ul li{
    list-style: none;
    color: gray;
}
.col-lg-3 ul{
    padding: 0%;
}
#ved{
    display: flex;
}
.f{
    display: flex;
}
.g{
    padding-bottom: 30px;
}
.g img{
    margin: 10px 10px 0px 0px;
}
.vedant{
    border: 0px;
    background-color: white;
}
.small{
    display: none;
}
@media (max-width: 960px){
    .small{ display: inline-block;}
    .lap{ display: none;}
}
.col-12{
    margin-top: 80px;
}
footer{
    margin-top: 40px;
}
.last{
    position: absolute;
    right: 0px;
    font-weight: bolder;
}